{% extends 'main.html' %}
{% block content %}
<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{{url_for('static', filename='images/icon.svg')}}" alt="icon" />
        </a>
        <h3>Account Login</h3>
        <p>Hello Developer, Welcome Back!</p>
      </div>

      <form method="POST" action="#" class="form auth__form" enctype="multipart/form-data" >
        {{ form.hidden_tag() }}
        {% for field in form %}
        {% if field.label.text != 'CSRF Token' %}
        <!-- Input:Email -->
        <div class="form__field">
        <label for="{{ field.id }}">{{ field.label }}</label>
        {{ field(class="input input--text", placeholder=field.label.text) }}
        {% if field.errors %}
                <ul class="errors">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
          <a href="{{url_for('app_views.forgot_password')}}">Forget Password?</a>
        </div>
      </form>
      <div class="auth__alternative">
        <p>Don’t have an Account?</p>
        <a href="{{url_for('app_views.create_profile')}}">Sign Up</a>
      </div>
    </div>
  </div>
  {% endblock %}