<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{{ url_for('static', filename='uikit/styles/uikit.css') }}"/>
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}" />
  <script type="text/javascript" src="{{ url_for('static', filename='uikit/app.js') }}"></script>


  <title>DevLinkHub - Connect with Developers!</title>
</head>

<body>
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert--{{category}}">
            <p class="alert__message">{{ message }}</p>
            <button class="alert__close" onclick="closeAlert(this)">⨯</button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}

    {% endblock %}
</body>
</html>