<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{{url_for('static', filename='images/favicon.ico')}}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{{url_for('app_views.landingpage')}}">About</a></li>
          <li class="header__menuItem"><a href="{{url_for('app_views.profiles')}}">Developers</a></li>
          <li class="header__menuItem"><a href="{{ url_for('app_views.projects')}}">Projects</a></li>
         
          {% if current_user.is_authenticated %}
          <li class="header__menuItem"><a href="{{url_for('app_views.inbox')}}">Inbox(<span class="unrd">{{current_user.unread}}</span>)</a></li>
          <li class="header__menuItem"><a href="{{url_for('app_views.account')}}">My Account</a></li>
         
          <li class="header__menuItem"><a href="{{url_for('app_views.logout')}}" class="btn btn--sub">Logout</a></li>
          <li class="header__menuItem"><a href="{{url_for('app_views.delete_profile')}}" class="btn btn--sub">Delete Account</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{{url_for('app_views.login')}}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>