{% extends 'main.html' %}
{% block content %}

<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <h3 class="singleProject__subtitle">Tools & Stacks</h3>
          <div class="singleProject__toolStack">
            {% for tag in project.tags %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small>{{tag.name}}</small>
            </span>
            {% endfor %}
          </div>
          
        
          {% if project.links %}
          <h3 class="singleProject__subtitle">Resources</h3>
          <br>
          {% for link in project.links %}
            <span class="tag tag--pill tag--sub tag--lg">
              <small><a href="{{link.url}}">{{link.name}}</a></small>
            </span>
            {% endfor %}
            {% endif %}
            <br>
            <br>
            <br>
            <br>
          {% if project.takeaways %}
          <h3 class="singleProject__subtitle">Or in your terminal</h3>
          <br>
            {% for takeaway in project.takeaways %}
              <span class="tag tag--pill tag--sub tag--lg">
                <small>{{takeaway.text}}</small>
              </span>
            {% endfor %}
          {% endif %}
          
          {% if project.source_link %}
          <a class="singleProject__liveLink" href="{{project.source_link}}" target="_blank"><i class="im im-external-link"></i>Source Code
          </a>
          {% endif %}
          {% if project.demo_link %}
          <a class="singleProject__liveLink" href="{{project.demo_link}}" target="_blank"><i class="im im-external-link"></i>Source Code
          </a>
          {% endif %}
        </div>
        <div class="column column--2of3">
          <img class="singleProject__preview" src="{{url_for('static', filename=project.image_url)}}" alt="portfolio thumbnail" />
          <a href="{{url_for('app_views.profile', profile_id=project.user.profile.id)}}" class="singleProject__developer">{{project.user.profile.name}}</a>
          <h2 class="singleProject__title">{{project.title}}</h2>

          {% if current_user.is_authenticated and current_user.id == project.user.id %}
          <td class="settings__tableActions">
            <a class="tag tag--pill tag--main settings__btn" href="{{url_for('app_views.update_project', project_id=project.id)}}"><i class="im im-x-mark-circle-o"></i>
              edit Project </a>
          </td>
          {% endif %}

          {% if project.description %}
          <h3 class="singleProject__subtitle">About the Project</h3>
    
          <div class="singleProject__info">{{ project.description | linebreaksbr}}</div>
          <br>
          {% endif %}
          <h3 class="singleProject__subtitle">Learning Objectives</h3>
          {% if project.objectives %}
            {% for subtitle in project.subtitles %}
              <h3 class="singleProject__subtitle">{{subtitle.text}}</h3>
              {% for objective in subtitle.objectives %}
              <li>{{objective.text}}</li>
              {% endfor %}
              <br>
            {% endfor %}
          {% endif %}

          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>
            <h5 class="project--rating">
              {% if current_user.is_authenticated %}
              Share your thoughts here
              {% else %}
              <a href="{{url_for('app_views.login')}}">Login</a> to interact and engage with other users on the platform.
              {% endif %}
            </h5>

            <form class="form" action="{{url_for('app_views.add_comment', project_id=project.id)}}" method="POST">
              <!-- Textarea -->
              <div class="form__field">
                <label for="formInput#textarea">Comments: </label>
                <textarea class="input input--textarea" name="message" id="formInput#textarea"
                  placeholder="Write your comments here..."></textarea>
              </div>
              <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
            </form>

            <div class="commentList">
                {% for comment in project.comments %}
              <div class="comment">
                <a href="{{url_for('app_views.profile', profile_id=comment.profile.id)}}">
                  <img class="avatar avatar--md"
                    src="{{url_for('static', filename=comment.profile.profile_image_url)}}" alt="user" />
                </a>
                <div class="comment__details">
                  <a href="{{url_for('app_views.profile', profile_id=comment.profile.id)}}" class="comment__author">{{comment.profile.name}}</a>
                  <p class="comment__info">{{comment.text}}</p>
                </div>
                {% if current_user.is_authenticated and current_user.profile.id == comment.profile.id %}
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{{url_for('app_views.delete_comment', comment_id=comment.id, project_id=project.id)}}"><i class="im im-x-mark-circle-o"></i>
                    Delete</a>
                </td>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>

{% endblock %}